body{
	font-family:Gill Sans MT, Calibri, Verdana, Tahoma, Arial;
	color: #FFFFFF;
}

#container{
	width: 92%;
	margin: 0 auto;
	overflow: hidden;
}
#footer{
	height: 40pt;
	position: bottom; 
	bottom: 0;
	text-align: center;
	clear: both;
	padding-top: 10pt;
}
#topHeader{
	background-color: blue;
	color: #FFFFFF;
	height: 95.0pt;
	overflow:hidden;
}
#logo{
	float:left;
	width:15%;
	overflow: hidden;
}
#leftColumn{
	width: 50%;
	color: orange;
}
#rightColumn{
	width: 50%;
	color: green;
}