body{
	font-family:Gill Sans MT, Calibri, Verdana, Tahoma, Arial;
	color: #FFFFFF;
}

#container{
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
#topHeader{
	background-color: blue;
	color: #FFFFFF;
	height: 95.0pt;
	overflow:hidden;
}
.nav {
	background-color: #ffa500;
	color: #FFF;
	margin:0;
	list-style: none;
	text-align: center;
	padding-top: 5px;
}
.nav > li {
	display: inline-block;
}
.nav > li > a{
	text-decoration: none;
	font-size: 22px;
	color: black;
	padding: 10px;
}
#logo{
	float:left;
	width:15%;
	overflow: hidden;
}
#leftColumn{
	width: 50%;
	float: left;
	padding-top: 120px;
	color: black;
}
#rightColumn{
	width: 50%;
	float: right;
	padding-top: 120px;
	color: green;
}
a:hover{
	color: #997533;
	background: #FFF;
}
a:link {
	color: #A0522D;
	text-decoration: underline;
}
a:visited {
	color:#008000;
	text-decoration: underline;
}
p.h1 { 
	font: monospace;
	font-size: 12pt;
	font-family: Lucida Sans Typewriter;
}
p.h2 { 
	font: helvetica;
	font-size: 16pt;
	font-family: lucida;
}
#footer{
	height: 40pt;
	position: bottom; 
	bottom: 0;
	text-align: center;
	clear: both;
	padding-top: 10pt;
}

@media screen and (max-width: 925px){

}

@media screen and (max-width: 490px){ /* for screens less than 490px mobile friendy menu changes and columns */

}
